:root {
  --width: 80%;
  --primary-color: #e4002c;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5; //

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--width);

    .logo {
      width: 113px;
      height: 28px;
    }

    .language {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        cursor: pointer;
      }
    }
  }

  .menu {
    display: none;
  }
}

.change {
  .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: translate(0, -8px) rotate(45deg);
  }
}

.header-mobile {
  display: none;
  height: calc(100vh - 60px);

  &-content {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .languages {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .selected {
        background-color: var(--primary-color);
        color: white;
      }

      button {
        font-weight: 700;
        height: 50px;
        width: 30%;
        border-radius: 10px;
        border: none;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;
      color: black;
      margin-top: 20px;
      width: 100%;

      a {
        height: 50px;
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        font-weight: 700px;
        font-weight: 700;

        &:active {
          background-color: var(--primary-color);
          color: white;
        }
      }
    }

    .communication {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      .phone,
      .mail {
        display: flex;
        width: 48%;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    .sosial {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 180px;

      .round {
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
      }
    }
  }
}

.display-none {
  display: none !important;
}

.display {
  display: block !important;
}

@media screen and (max-width: 640px) {
  .header {
    &-content {
      width: 100%;
      justify-content: space-between;

      .language {
        display: none;
      }

      .logo {
        margin-left: 10px;
      }
    }

    .menu {
      display: block;
      cursor: pointer;
      float: right;
      height: 100%;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-left: 1px solid #ebebeb;

      div {
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 3px 0;
        transition: 0.4s;
      }
    }
  }

  .header-mobile {
    &-content {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .buttons {
    display: none !important;
  }
}

// @media screen and (min-width: 963px) and (max-width: 1069px) {
//   .carousel {
//     img {
//       width: 400px;
//       height: 150px;
//     }

//     span {
//       font-size: 10px !important;
//     }
//   }
// }

.buttons {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 12px;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--width);
    min-width: var(--width);

    a {
      text-decoration: none;
      background-color: #f5f5f5;
      padding: 15px 30px;
      border-radius: 10px;
      color: #000000;
      line-height: 18.83px;
      font-weight: 600;
      width: 200px;
      height: 50px;
      text-align: center;
      font-size: 15px;
      font-family: "Mulish";
      font-style: normal;

      &:active {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
}

.carousel {
  margin-top: 20px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    height: 100%;
    border-radius: 10px;
    width: var(--width);
    background-color: #f5f5f5;

    .carousel-indicators {
      li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #878787;
        margin-bottom: 10px;
      }

      .active {
        background-color: var(--primary-color);
        height: 8px;
        width: 20px;
        border-radius: 10px;
      }
    }

    .carousel-inner-item {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-family: "Baloo 2", cursive;
        font-size: 50px;
        width: 50%;
        font-weight: 800;
        color: #2d2d2d;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .carousel {
    height: 200px !important;

    span {
      font-size: 12px !important;
    }
  }
}

@media screen and (max-width: 963px) {
  .carousel {
    .carousel-inner-item{
      margin-bottom: 25px;
      img {
        width: 100px;
        height: 50px;
      }
      
      h1 {
        font-size: 16px !important;
      }
    }
  }
}

#about {
  margin-top: 7rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: var(--width);

    .section_header {
      font-weight: 700;
      font-family: "Baloo 2";
      font-size: 36px;
      color: #000000;
    }

    h6 {
      text-align: center;
      margin-top: 30px;
      font-family: "Mulish";
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 540px) {
  #about {
    margin-top: 3rem !important;
  }
}

#services {
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .services-content {
    width: var(--width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section_header {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      color: #000000;
      font-style: normal;
      font-family: "Baloo 2";
    }

    .boxes {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;

      .box {
        border: none;
        height: 230px;
        width: 288px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background-color: #ffffff;

        .logo {
          width: 35px;
          height: 35px;
          margin-left: 36px;
          margin-top: 40px;
        }

        h3 {
          font-family: "Mulish";
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          color: #000000;
          font-style: normal;
          margin-left: 36px;
          margin-top: 20px;
          height: 30px;
        }

        p {
          width: 216px;
          height: 60px;
          margin-left: 36px;
          font-family: "Mulish";
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.5);
          margin-top: 10px;
        }
      }

      .seperator {
        border: none;
        background-color: #ebebeb;
        width: 1px;
        height: 108px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #services {
    margin-top: 3rem !important;

    .boxes {
      margin-top: 1rem !important;
    }
  }
}

@media screen and (max-width: 963px) {
  .seperator {
    display: none !important;
  }

  .boxes {
    flex-direction: column;
  }
}

#packet {
  margin-top: 6rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .packet-content {
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section_header {
      font-size: 36px;
    }

    .items {
      display: flex;
      justify-content: center;
      margin: 40px 363px 0 363px;
      border: 1px solid #ebebeb;

      .item1 {
        border-right: 1px solid #ebebeb;
        min-width: 238px;
        min-width: 238px;
        height: 496px;

        .header-text {
          width: 160px;
          height: 40px;
          margin-left: 39px;
          font-family: "Mulish";
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
          color: #000000;
          margin-top: 40px;
        }

        .mb {
          position: relative;
          margin-left: 52px;
          margin-top: 45px;

          .logo {
            width: 134px;
            height: 93px;
          }

          .center {
            position: absolute;
            left: 0;
            bottom: 0;

            h2 {
              width: 134px;
              height: 38px;
              font-family: "Mulish";
              font-weight: 800;
              font-size: 30px;
              line-height: 38px;
              text-align: center;
              margin-bottom: 0;
            }

            h4 {
              width: 134px;
              height: 21px;
              font-family: "Mulish";
              font-weight: 800;
              font-size: 17px;
              line-height: 22px;
              text-align: center;
              margin-top: 0;
            }
          }
        }

        .comments {
          .fiber {
            display: flex;
            align-items: center;
            margin-top: 40px;
            height: 23px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
              font-family: "Mulish";
              font-weight: 600;
              font-size: 16px;
              line-height: 23px;
              color: #000000;
              font-style: normal;
            }
          }

          .wifi {
            display: flex;
            align-items: center;
            margin-top: 9px;
            height: 23px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
            }
          }
        }

        .number {
          width: 80px;
          height: 34px;
          display: flex;
          flex-wrap: wrap;
          align-items: right;
          justify-content: space-around;
          margin-left: 78px;
          font-family: "Mulish";
          font-weight: 800;
          font-size: 36px;
          line-height: 20px;
          text-align: center;
          margin-top: 81px;
          color: #e4002c;
          position: relative;
          margin-bottom: 0;

          p {
            position: absolute;
            bottom: -5px;
            // left: 20px;
            margin-left: -25px;
          }

          .num {
            position: absolute;
            font-size: 20px;
            bottom: -10px;
            margin-right: -65px;
            // right: 0;
          }

          img {
            position: absolute;
            top: -10px;
            right: -13px;
          }
        }

        .month {
          width: 40px;
          height: 23px;
          font-family: "Mulish";
          font-weight: 600;
          font-size: 15px;
          line-height: 23px;
          color: #000000;
          font-style: normal;
          margin-top: 5px;
          margin-left: 99px;
        }
      }

      .item2 {
        width: 238px;
        height: 496px;
        border-right: 1px solid #ebebeb;

        .header-text {
          width: 160px;
          height: 40px;
          margin-left: 39px;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
          color: #000000;
          margin-top: 40px;
        }

        .mb {
          position: relative;
          margin-left: 52px;
          margin-top: 45px;

          .logo {
            width: 134px;
            height: 93px;
          }

          .center {
            position: absolute;
            left: 0;
            bottom: 0;

            h2 {
              width: 134px;
              height: 38px;
              font-family: "Mulish";
              font-weight: 800;
              font-size: 30px;
              line-height: 38px;
              text-align: center;
              margin-bottom: 0;
            }

            h4 {
              width: 134px;
              height: 21px;
              font-family: "Mulish";
              font-weight: 800;
              font-size: 17px;
              line-height: 22px;
              text-align: center;
              margin-top: 0;
            }
          }
        }

        .comments {
          .fiber {
            display: flex;
            align-items: center;
            margin-top: 40px;
            height: 23px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
              font-family: "Mulish";
              font-weight: 600;
              font-size: 17px;
              line-height: 23px;
              color: #000000;
              font-style: normal;
            }
          }

          .wifi {
            display: flex;
            align-items: center;
            margin-top: 9px;
            height: 23px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
            }
          }

          .channel {
            display: flex;
            align-items: center;
            font-family: "Mulish";
            color: #000000;
            font-style: normal;
            margin-top: 9px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
              font-size: 15px;
              font-weight: 600;
              line-height: 23px;
            }
          }
        }

        .number {
          width: 80px;
          height: 34px;
          display: flex;
          flex-wrap: wrap;
          align-items: right;
          justify-content: space-around;
          margin-left: 78px;
          font-family: "Mulish";
          font-weight: 800;
          font-size: 36px;
          line-height: 20px;
          text-align: center;
          margin-top: 40px;
          color: #e4002c;
          position: relative;
          margin-bottom: 0;

          p {
            position: absolute;
            bottom: -5px;
            margin-left: -25px;
          }

          .num {
            position: absolute;
            font-size: 20px;
            bottom: -10px;
            margin-right: -65px;
          }

          img {
            position: absolute;
            top: -10px;
            right: -13px;
          }
        }

        .month {
          width: 40px;
          height: 23px;
          font-family: "Mulish";
          font-weight: 600;
          font-size: 15px;
          line-height: 23px;
          color: #000000;
          font-style: normal;
          margin-top: 5px;
          margin-left: 99px;
        }
      }

      .item3 {
        width: 238px;
        height: 496px;

        .header-text {
          width: 160px;
          height: 40px;
          margin-left: 39px;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
          color: #000000;
          margin-top: 40px;
        }

        .mb {
          position: relative;
          margin-left: 52px;
          margin-top: 45px;

          .logo {
            width: 134px;
            height: 93px;
          }

          .center {
            position: absolute;
            left: 0;
            bottom: 0;

            h2 {
              width: 134px;
              height: 38px;
              font-family: "Mulish";
              font-weight: 800;
              font-size: 30px;
              line-height: 38px;
              text-align: center;
              margin-bottom: 0;
            }

            h4 {
              width: 134px;
              height: 21px;
              font-family: "Mulish";
              font-weight: 800;
              font-size: 17px;
              line-height: 22px;
              text-align: center;
              margin-top: 0;
            }
          }
        }

        .comments {
          .fiber {
            display: flex;
            align-items: center;
            margin-top: 40px;
            height: 23px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
              font-family: "Mulish";
              font-weight: 600;
              font-size: 17px;
              line-height: 23px;
              color: #000000;
              font-style: normal;
            }
          }

          .wifi {
            display: flex;
            align-items: center;
            margin-top: 9px;
            height: 23px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
            }
          }

          .channel {
            display: flex;
            align-items: center;
            font-family: "Mulish";
            color: #000000;
            font-style: normal;
            margin-top: 9px;

            img {
              margin-left: 38px;
            }

            h6 {
              margin-left: 11px;
              font-size: 15px;
              font-weight: 600;
              line-height: 23px;
            }
          }
        }

        .number {
          width: 80px;
          height: 34px;
          display: flex;
          flex-wrap: wrap;
          align-items: right;
          justify-content: space-around;
          margin-left: 78px;
          font-family: "Mulish";
          font-weight: 800;
          font-size: 36px;
          line-height: 20px;
          text-align: center;
          margin-top: 37px;
          color: #e4002c;
          position: relative;
          margin-bottom: 0;

          p {
            position: absolute;
            bottom: -5px;
            // left: 20px;
            margin-left: -25px;
          }

          .num {
            position: absolute;
            font-size: 20px;
            bottom: -10px;
            margin-right: -65px;
            // right: 0;
          }

          img {
            position: absolute;
            top: -10px;
            right: -13px;
          }
        }

        .month {
          width: 40px;
          height: 23px;
          font-family: "Mulish";
          font-weight: 600;
          font-size: 15px;
          line-height: 23px;
          color: #000000;
          font-style: normal;
          margin-top: 5px;
          margin-left: 99px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #packet {
    margin-top: 3rem !important;

    .packet-content {
      h1 {
        font-weight: 700 !important;
        font-family: "Baloo 2" !important;
        font-size: 24px !important;
        text-align: center;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        border: none;

        .item1,
        .item2,
        .item3 {
          border: 1px solid #ebebeb;
          margin-top: 20px;
        }
      }
    }
  }
}

#company {
  margin-top: 3rem;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  background-image: url("./images//background.png");
  background-repeat: no-repeat;
  background-position: right center;

  .company-content {
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    .section_header {
      font-size: 43px;
      font-weight: 700;
      font-family: "Baloo 2", cursive;
      color: #000000;
      font-style: normal;
    }

    .section_content {
      height: 72px;
      overflow: hidden;
      font-family: "Mulish";
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      font-style: normal;
    }
  }
}

@media screen and (max-width: 540px) {
  .go {
    display: block !important;
    color: var(--primary-color);
    font-weight: 700;
  }

  .section_content {
    font-size: 12px !important;
    min-width: 100%;
    max-width: 100px;
    overflow-x: hidden !important;
  }

  .section_header {
    font-size: 20px !important;
  }

  #company {
    // width: 90vw !important;
    margin-left: calc(10vh / 2) !important;
    margin-right: calc(10vh / 2) !important;
    border-radius: 10px;
    height: 200px;
  }
}

.section_header {
  font-size: 44px;
  font-weight: 700;
  font-family: "Baloo 2", cursive;
}

#why {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .why-content {
    height: 100%;
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section_header {
      font-family: "Baloo 2";
      font-weight: 700;
      font-style: normal;
      font-size: 36px;
      color: #000000;
      text-align: center;
      margin-top: 7rem;
      margin-bottom: 4rem;
    }

    .content {
      margin: auto;
      display: flex;
      flex-wrap: wrap;

      .item1,
      .item2,
      .item3,
      .item4,
      .item5,
      .item6 {
        height: 222px;
        min-width: calc(100% / 3);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          width: 36px;
          height: 36px;
        }

        h3 {
          font-family: "Mulish";
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          color: #000000;
          font-style: normal;
          height: 30px;
          margin-top: 24px;
        }

        h6 {
          width: 292px;
          height: 80px;
          text-align: center;
          margin-top: 12px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #why {
    .section_header {
      margin-top: 4rem !important;
      margin-bottom: 1rem !important;
    }

    .content {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

#contact {
  margin-top: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100px;

    &-text {
      color: rgba($color: #000000, $alpha: 0.5);
      text-align: center;
    }

    &-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: auto;

      :first-child {
        margin-right: 20px;
      }

      .selected {
        background-color: var(--primary-color);
        color: white;
      }

      button {
        width: 300px;
        cursor: pointer;
        outline: none;
        height: 50px;
        border: none;
        border-radius: 100px;
      }
    }
  }

  .contact-body {
    margin-top: 50px;
    height: auto;
    width: var(--width);
    display: flex;

    &-form {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      align-items: center;

      &-input {
        width: 90%;
        height: 50px;
        border: 1px solid #c6c6c6;
        border-radius: 4px;
        outline: none;
        padding: 5px 15px;
        margin-bottom: 20px;
      }

      textarea {
        width: 90%;
        padding: 10px;
        outline: none;
        border: 1px solid #c6c6c6;
        margin-bottom: 20px;
      }

      .send {
        border: 3px solid var(--primary-color);
        padding: 8px 40px;
        outline: none;
        background-color: transparent;
        border-radius: 5px;
        font-weight: 700;
      }

      .input-container {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .contact-body-form-input {
          width: 48%;
        }
      }
    }

    &-map {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      height: 100%;

      .address {
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #contact {
    margin-top: 3rem !important;
  }

  .contact-header {
    margin-top: 1rem;

    &-text {
      margin-bottom: 1rem;
    }

    &-buttons {
      button {
        width: 40vw !important;
      }
    }
  }

  .sticky-elements {
    right: 50px !important;
    bottom: 50px !important;
  }

  .contact-body {
    flex-direction: column;

    &-form {
      width: 100% !important;

      .send {
        width: 90%;
      }
    }

    &-map {
      width: 100% !important;
      margin-top: 20px;
      margin-bottom: 20px;

      .address {
        width: 300px;
        height: 300px;
      }
    }

    .input-container {
      flex-direction: column;

      .contact-body-form-input {
        width: 100% !important;
      }
    }
  }
}

.sticky-elements {
  width: 50px;
  height: 130px;
  position: fixed;
  left: calc(100vw - 100px);
  bottom: 100px;

  :first-child {
    margin-bottom: 20px;
  }

  .round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    cursor: pointer;

    img {
      margin: auto auto;
    }
  }
}

.footer {
  display: flex;
  height: auto !important;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .up {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 30px;

    span {
      color: #cccccc;
    }
  }

  &-content {
    width: var(--width);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .logo {
      width: 150px;
      height: 38px;
    }

    .sosial {
      width: 142px;
      height: 28px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item {
        width: 30px;
        height: 30px;
        background-color: #f5f5f5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .seperator {
    width: var(--width);
    height: 1px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    margin: 24px;
    width: 1120px;
  }

  .footer-info {
    width: var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    height: 20px;

    span {
      width: 315px;
      height: 20px;
      font-family: "Mulish";
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      font-style: normal;
      color: #000000;
    }

    .phone_mail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;

      .phone,
      .mail {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
      }

      .phone {
        width: 148px;
        height: 20px;
      }

      .mail {
        width: 139px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .footer {
    .up {
      margin-top: 2rem !important;
    }

    &-content {
      flex-direction: column;
      justify-content: flex-start;
      height: auto;

      .logo {
        height: 70px;
      }
    }

    .footer-info {
      flex-direction: column;
      margin-top: 20px;

      .phone,
      .mail {
        font-size: 10px;
      }

      .phone_mail {
        width: 340px;
      }

      span {
        text-align: center;
        margin-bottom: 20px;
        order: 3;
      }
    }
  }
}